header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: var(--transition-all);
	background-color: var(--color-background);
}
header nav {
	display: flex;
	justify-content: center;
	font: var(--font-copy-lg-x);
	margin-top: var(--spacing-6); 
}
header nav span:after {
	margin-right: 10px;
	margin-left: 10px;
	content: "|";
}
header nav span:last-child:after {
	content: none;
}
header a {
	font-weight: bold;
	text-decoration: none;
	background-color: transparent;
}
header a:hover {
	color: var(--color-border);
	text-decoration: underline;
}
.header-buttons {
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: var(--spacing-4);
	width: 100%;
}
.header-buttons button {
	margin-right: var(--spacing-3);
}
.header-buttons button:first-child {
	margin-right: var(--spacing-5);
}
.header-button {
	background-color: transparent;
	color: var(--color-text);
	border: 2px solid var(--color-border);
	border-radius: 50%;
	transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
.header-button:hover {
	background-color: var(--color-border);
	color: #ffffff;
	transform: scale(1.05);
}
#scroll-up, #menu-toggle {
	display: none;
}
#main-logo {
	margin-top: var(--spacing-4);
	height: 200px;
	transition: height 0.3s ease;
}
.scrolled {
	flex-direction: row;
	justify-content: space-between;
	box-shadow: var(--shadow);
	height: 60px;
	position: sticky;
	top: 0;
	z-index: 100;
}
.scrolled #main-logo {
	height: 34px;
	margin-top: 0;
	margin-left: var(--spacing-8);
	transition: none;
}
.scrolled nav {
	font: var(--font-copy-lg);
	flex-direction: row;
	margin-top: 0;
	margin-left: var(--spacing-8);
}
.scrolled .header-buttons {
	margin-bottom: 0;
}
/* breakpoints S - M */
@media screen and (min-width: 0px) and (max-width: 1080px) {
	#main-logo {
		height: 100px;
	}
	header nav {
		display: none;
	}
	#menu-toggle {
		display: block;
	}
	.header-button {
		background-color: none;
	}
}
@media screen and (min-width: 0px) and (max-width: 680px) {
	header {
		flex-direction: column-reverse;
	}
	header:not(.scrolled) #main-logo {
		margin-bottom: var(--spacing-4);
	}
	header:not(.scrolled) .header-buttons {
		margin-top: var(--spacing-4);
	}
}
