{% extends "templates/default-layout.html" %}

{% block body %}
<div class="page-container">
	<div id="header-content-home" class="header-content text-center">
		<h3>Автоматизируй процессы своей повседневной жизни</h3>
		<p class="font-lg">sharchan предоставляет функции, которые помогут вам с передачей информации и автоматизацией любых процессов.</p>
		<button class="button lg" onclick="location.href='/#howitwork'">Начать работу</button>
	</div>
	<section id="about">
		<div class="row-container section-wrapper">
			<div class="row-item text-left">
				<h2>Что это такое?</h2>
				<p class="font-lg-x blurb">sharchan — это простой и небезопасный файлообменник, созданный в рамках образовательного проекта. В основном он предназначен для передачи небольших файлов с помощью HTTP-запросов, что означает, что вы можете автоматизировать некоторые вещи, делая запросы через скрипты.</p>
			</div>
			<div class="row-item flex-1">
				<img class="can-be-invers" src="/static/img/box.png" alt="ammo-box" />
			</div>
		</div>
	</section>
	<section id="features">
		<div class="column-container section-wrapper">
			<div class="row-container text-center">
				<div class="row-item">
					<h2>Особенности</h2>
				</div>
			</div>
			<div class="row-container text-center">
				<div class="row-item">
					<img class="can-be-invers" src="/static/img/icon/opensource-icon.png" alt="opensource-icon" />
					<h5>Открытый Код</h5>
					<p class="blurb">То что наше решение является открытым не является преимуществом; это просто означает, что пользователи могут не только использовать сервис, но и изменять исходный код и развертывать его для личного использования. Исходный код доступен по лицензии BSD 2-Clause.</p>
				</div>
				<div class="row-item">
					<img class="can-be-invers" src="/static/img/icon/api-icon.png" alt="api-icon" />
					<h5>Простой API</h5>
					<p class="blurb">Мы предоставляем простой и интуитивно понятный API, который позволяет легко интегрировать наше решение в ваши рабочие процессы. С нашим API вы можете эффективно автоматизировать задачи.</p>
				</div>
				<div class="row-item">
					<img class="can-be-invers" src="/static/img/icon/scissors-icon.png" alt="api-icon" />
					<h5>Сокращение Ссылок</h5>
					<p class="blurb">С помощью нашего инструмента вы можете легко сократить длинные ссылки, сделав их более удобными для использования и распространения. Это особенно полезно для социальных сетей, электронных рассылок и других платформ, где действуют ограничения на количество символов.</p>
				</div>
				<div class="row-item">
					<img class="can-be-invers" src="/static/img/icon/noads-icon.png" alt="noads-icon" />
					<h5>Нет Рекламы</h5>
					<p class="blurb">Мы ценим ваше время и внимание, поэтому наше решение полностью лишено рекламы. Вы можете сосредоточиться на своих задачах, не отвлекаясь.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="stats" class="bg-fill">
		<div class="row-container section-wrapper text-center">
			<div class="row-item">
				<h3 class="can-be-format">{{total-api-requests}}</h3>
				<h5>API запросов выполнено</h5>
			</div>
			<div class="row-item">
				<h3 class="can-be-format">{{file-count.total-non-deleted-files}}</h3>
				<h5>Хранящихся файлов</h5>
			</div>
			<div class="row-item">
				<h3 class="can-be-format">{{file-count.total-deleted-files}}</h3>
				<h5>Файлов стерто</h5>
			</div>
		</div>
	</section>
	<section id="howitwork">
		<div class="column-container section-wrapper">
			<div class="row-container text-center">
				<div class="row-item">
					<h2>Как это работает?</h2>
				</div>
			</div>
			<div id="example-list">
				<div class="row-container">
					<div class="row-item flex-2">
<pre>&lambda; curl -F 'file=@helloworld.txt' localhost:3000
/f/a948904f2f0f479b8f8197694b30184b0d2ed1c1cd2a1ec0fb85d299a192a447
&lambda; curl localhost:3000/f/a948904f2f0f479b8f8197694b30184b0d2ed1c1cd2a1ec0fb85d299a192a447
hello world</pre>
					</div>
					<div class="row-item flex-1 text-left">
						<div>
							<div class="font-lg-x">
								<p>С помощью первой команды мы отправили POST-запрос на загрузку файла <code>`helloworld.txt`</code> на сервер. После этого мы использовали вторую команду для извлечения содержимого этого файла.</p>
							</div>
							<div class="bg-fill padding-box font-sm">
								<p><strong>Примечание:</strong> Вывод второй команды можно перенаправить в новый файл, используя следующий синтаксис:<br /><code>curl localhost:3000/f/%some-hash% &gt; file.txt</code></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row-container">
					<div class="row-item text-left">
						<div>
							<div class="font-lg-x">
								<p>Вместо отправки запроса POST с помощью параметра <code>`-F`</code>, вы можете использовать команду <code>`curl -T`</code> для отправки запроса PUT. Эта команда позволяет вам загрузить файл на сервер с помощью метода HTTP PUT.</p>
							</div>
						</div>
					</div>
					<div class="row-item">
						<pre>&lambda; curl -T yourfile.jpg localhost:3000 | tee</pre>
					</div>
				</div>
				<div class="row-container">
					<div class="row-item">
						<pre>&lambda; command | curl -T - http://localhost:3000</pre>
					</div>
					<div class="row-item text-left">
						<div>
							<div class="font-lg-x">
								<p>Вы также можете передать входные данные из другой команды напрямую в <code>`curl`</code>, как здесь. В этом случае дефис <code>`-`</code> означает, что <code>`curl`</code> должен считывать данные со стандартного ввода. Таким образом вы можете загрузить выходные данные команды.</p>
							</div>
							<div class="bg-fill padding-box font-sm">
								<p><strong>Примечание:</strong> Вы также можете загрузить вывод команды, включая любые сообщения об ошибках из <code>`stderr`</code>, на сервер, используя следующий синтаксис:</p>
								<div class="padding-box"><code>command 2&gt;&amp;1 | curl -T - http://localhost:3000</code></div>
								<p>В этой команде <code>`2&gt;&amp;1`</code> перенаправляет <code>`stderr`</code> (файловый дескриптор 2) в <code>`std out`</code> (файловый дескриптор 1), позволяя отправлять через канал как стандартный вывод, так и стандартную ошибку.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row-container">
					<div class="row-item flex-1 font-lg-x text-left">
						<p>Любая из трех команд поможет вам сократить ссылку и затем использовать сокращенную версию для доступа к файлу. Это может быть полезно при распространении ссылки.</p>
					</div>
					<div class="row-item flex-2">
<pre>&lambda; curl -F 'url=http://localhost/%some-long-url%' http://localhost:3000/shorten
&lambda; curl -d 'url=http://localhost/%some-long-url%' http://localhost:3000/shorten
&lambda; curl -X POST http://localhost:3000/shorten -d 'url=http://localhost/%some-long-url%'</pre>
					</div>
				</div>
			</div>
			<div class="row-container text-center">
				<div class="center-container">
					<button class="button lg" onclick="location.href='https://github.com/{{links.github-username}}/{{links.github-proj-name}}/doc/'">
						<span>Узнать больше</span>
						<span class="icon arrow-right after"></span>
					</button>
				</div>
			</div>
			<div class="margin-set">
				<div class="row-container text-center">
					<div class="row-item">
						<h2>Попробуйте сами</h2>
					</div>
				</div>
				<div class="row-container">
					<div class="row-item">
						<div class="center-container">
							<form id="upload-form" method="POST" enctype="multipart/form-data">
								<button class="button md file-upload">
									<span>Выберите файл&hellip;</span>
									<span class="icon share after"></span>
								</button>
								<input type="file" id="file" name="file" class="hidden" />
							</form>
						</div>
						<div class="center-container">
							<div id="response-of-form">
								<pre id="upload-status"></pre>
								<pre id="upload-response"></pre>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="margin-set">
				<div class="row-container text-center">
					<div class="row-item">
						<h2>Срок хранения файлов</h2>
					</div>
				</div>
				<div id="grph-container" class="row-container">
					<div class="row-item">
						<canvas id="retention-grph" class="can-be-invers"></canvas>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="feedback" class="bg-fill">
		<div class="row-container section-wrapper">
			<div class="row-item">
				<img src="/static/img/radio.png" alt="phone-tube" />
			</div>
			<div class="row-item text-left">
				<h4>Ваш возможный фитбэк</h4>
				<p>Всё придельно просто. Есть два варианта:</p>
				<ul>
					<li>Если у вас есть вопросы, предложения или пожелания, вы можете связаться со мной ВКонтакте.</li>
					<li>Если вы обнаружите какие-либо ошибки или у вас есть предложения по улучшению функциональности, вы можете оставить отчет об ошибке в разделе проблем на GitHub или отправить запрос на внесение изменений.</li>
				</ul>
				<div class="buttons">
					<a class="icon-button lg text-white" href="https://vk.com/{{links.vk-profile-id}}" target="_blank">
						<span class="icon vk-white"></span>
					</a>
					<a class="icon-button lg text-white" href="https://github/{{links.github-username}}/{{links.github-proj-name}}/issues" target="_blank">
						<span class="icon github-white"></span>
					</a>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
