{% extends "templates/default-layout.html" %}

{% block body %}
<div class="page-container">
	<div id="header-content-home" class="header-content text-center">
		<h3>{{main/automate-heading}}</h3>
		<p class="font-lg">{{main/automate-description}}</p>
		<button class="button lg" onclick="location.href='/#howitwork'">{{main/getting-started-button}}</button>
	</div>
	<section id="about">
		<div class="row-container section-wrapper">
			<div class="row-item text-left">
				<h2>{{about/heading}}</h2>
				<p class="font-lg-x blurb">{{about/description}}</p>
			</div>
			<div class="row-item flex-1">
				<img class="can-be-invers" src="/static/img/box.png" alt="{{about/img-alt}}" />
			</div>
		</div>
	</section>
	<section id="features">
		<div class="column-container section-wrapper">
			<div class="row-container text-center">
				<div class="row-item">
					<h2>{{features/heading}}</h2>
				</div>
			</div>
			<div class="row-container text-center">
				<div class="row-item">
					<img class="can-be-invers" src="/static/img/icon/opensource-icon.png" alt="opensource-icon" />
					<h5>{{features/opensource/heading}}</h5>
					<p class="blurb">{{features/opensource/description}}</p>
				</div>
				<div class="row-item">
					<img class="can-be-invers" src="/static/img/icon/api-icon.png" alt="api-icon" />
					<h5>{{features/api/heading}}</h5>
					<p class="blurb">{{features/api/description}}</p>
				</div>
				<div class="row-item">
					<img class="can-be-invers" src="/static/img/icon/scissors-icon.png" alt="api-icon" />
					<h5>{{features/link-shortening/heading}}</h5>
					<p class="blurb">{{features/link-shortening/description}}</p>
				</div>
				<div class="row-item">
					<img class="can-be-invers" src="/static/img/icon/noads-icon.png" alt="noads-icon" />
					<h5>{{features/no-ads/heading}}</h5>
					<p class="blurb">{{features/no-ads/description}}</p>
				</div>
			</div>
		</div>
	</section>
	<section id="stats" class="bg-fill">
		<div class="row-container section-wrapper text-center">
			<div class="row-item">
				<h3 class="can-be-format">{{total-api-requests}}</h3>
				<h5>{{stats/api-requests}}</h5>
			</div>
			<div class="row-item">
				<h3 class="can-be-format">{{file-count.total-non-deleted-files}}</h3>
				<h5>{{stats/total-files}}</h5>
			</div>
			<div class="row-item">
				<h3 class="can-be-format">{{file-count.total-deleted-files}}</h3>
				<h5>{{stats/erased-files}}</h5>
			</div>
		</div>
	</section>
	<section id="howitwork">
		<div class="column-container section-wrapper">
			<div class="row-container text-center">
				<div class="row-item">
					<h2>{{howitworks/heading}}</h2>
				</div>
			</div>
			<div id="example-list">
				<div class="row-container">
					<div class="row-item flex-2">
<pre>&lambda; curl -F 'file=@helloworld.txt' {{domain}} 
/f/a948904f2f0f479b8f8197694b30184b0d2ed1c1cd2a1ec0fb85d299a192a447
&lambda; curl {{domain}}/f/a948904f2f0f479b8f8197694b30184b0d2ed1c1cd2a1ec0fb85d299a192a447
hello world</pre>
					</div>
					<div class="row-item flex-1 text-left">
						<div>
							<div class="font-lg-x">
								<p>{{howitworks/post-command-description|safe}}</p>
							</div>
							<div class="bg-fill padding-box font-sm">
								<p>{{howitworks/post-command-note|safe}}<br /><code>curl {{domain}}/f/%some-hash% &gt; file.txt</code></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row-container">
					<div class="row-item text-left">
						<div>
							<div class="font-lg-x">
								<p>{{howitworks/put-command-description|safe}}</p>
							</div>
						</div>
					</div>
					<div class="row-item">
						<pre>&lambda; curl -T yourfile.jpg {{domain}} | tee</pre>
					</div>
				</div>
				<div class="row-container">
					<div class="row-item">
						<pre>&lambda; command | curl -T - {{domain}}</pre>
					</div>
					<div class="row-item text-left">
						<div>
							<div class="font-lg-x">
								<p>{{howitworks/piping-description|safe}}</p>
							</div>
							<div class="bg-fill padding-box font-sm">
								<p>{{howitworks/piping-note-first|safe}}</p>
								<div class="padding-box"><code>command 2&gt;&amp;1 | curl -T - {{domain}}</code></div>
								<p>{{hotitworks/piping-note-second|safe}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row-container">
					<div class="row-item flex-1 font-lg-x text-left">
						<p>{{howitworks/shortening-description}}</p>
					</div>
					<div class="row-item flex-2">
<pre>&lambda; curl -F 'url=http://{{domain}}/%some-long-url%' http://{{domain}}/shorten
&lambda; curl -d 'url=http://{{domain}}/%some-long-url%' http://{{domain}}/shorten
&lambda; curl -X POST http://{{domain}}/shorten -d 'url=http://{{domain}}/%some-long-url%'</pre>
					</div>
				</div>
			</div>
			<div class="row-container text-center">
				<div class="center-container">
					<button class="button lg" onclick="location.href='https://github.com/{{links.github-username}}/{{links.github-proj-name}}/tree/master/doc/'">
						<span>{{howitworks/learn-more-button}}&hellip;</span>
						<span class="icon arrow-right after"></span>
					</button>
				</div>
			</div>
			<div class="margin-set">
				<div class="row-container text-center">
					<div class="row-item">
						<h2>{{tryit/heading}}</h2>
					</div>
				</div>
				<div class="row-container">
					<div class="row-item">
						<div class="center-container">
							<form id="upload-form" method="POST" enctype="multipart/form-data">
								<button class="button md file-upload">
									<span>{{tryit/file-upload-button}}</span>
									<span class="icon share after"></span>
								</button>
								<input type="file" id="file" name="file" class="hidden" />
							</form>
						</div>
						<div class="center-container">
							<div id="response-of-form">
								<pre id="upload-status"></pre>
								<pre id="upload-response"></pre>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="margin-set">
				<div class="row-container text-center">
					<div class="row-item">
						<h2>{{retention/heading}}</h2>
					</div>
				</div>
				<div id="grph-container" class="row-container">
					<div class="row-item">
						<canvas id="retention-grph" class="can-be-invers"></canvas>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="feedback" class="bg-fill">
		<div class="row-container section-wrapper">
			<div class="row-item">
				<img src="/static/img/radio.png" alt="phone-tube" />
			</div>
			<div class="row-item text-left">
				<h4>{{feedback/heading}}</h4>
				<p>{{feedback/description}}</p>
				<ul>
					<li>{{feedback/option-1}}</li>
					<li>{{feedback/option-2}}</li>
				</ul>
				<div class="buttons">
					<a class="icon-button lg text-white" href="https://vk.com/{{links.vk-profile-id}}" target="_blank">
						<span class="icon vk-white"></span>
					</a>
					<a class="icon-button lg text-white" href="https://github.com/{{links.github-username}}/{{links.github-proj-name}}/issues" target="_blank">
						<span class="icon github-white"></span>
					</a>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
