{% extends "templates/default-layout.html" %}

{% block body %}
<div class="page-container">
	<div class="header-content">
		<h4>{{main/logo-heading}}</h4>
	</div>
	<div class="row-container">
		<div class="row-item">
			<h5>{{main/logo-preview-heading}}</h5>
			<p>{{main/logo-preivew-description}}</p>
			<div class="center-container">
				<div class="column-container" style="width:65%">
					<div class="logo-item preview-background-dark">
						<img src="/static/img/logo/white-variant.png" alt="white-variant-logo">
					</div>
					<div class="logo-item preview-background-light">
						<img src="/static/img/logo/black-variant.png" alt="black-variant-logo">
					</div>
				</div>
			</div>

			<h5>{{main/colors-heading}}</h5>
			<p>{{main/colors-description}}</p>
			<div class="grid-color-container">
				<div class="grid-color-item text-white" style="background-color:#000000;">
					<h6>Black (text, bg)</h6>
					<div class="color-values">
						<span>HEX: #000000</span>
						<span>RGB: 0 0 0</span>
					</div>
				</div>
				<div class="grid-color-item text-white" style="background-color:#121212;">
					<h6>Noname (bg)</h6>
					<div class="color-values">
						<span>HEX: #121212</span>
						<span>RGB: 18 18 18</span>
					</div>
				</div>
				<div class="grid-color-item text-black" style="background-color:#ffffff;">
					<h6>White (text, bg)</h6>
					<div class="color-values">
						<span>HEX: #ffffff</span>
						<span>RGB: 255 255 255</span>
					</div>
				</div>
				<div class="grid-color-item" style="background-color:#606060;">
					<h6>Noname (hover)</h6>
					<div class="color-values">
						<span>HEX: #606060</span>
						<span>RGB: 96 96 96</span>
					</div>
				</div>
				<div class="grid-color-item" style="background-color:#cc0033;">
					<h6>Noname (hover)</h6>
					<div class="color-values">
						<span>HEX: #cc0033</span>
						<span>RGB: 204 0 51</span>
					</div>
				</div>
			</div>

			<h5>{{main/bundle-heading}}</h5>
			<p>{{main/bundle-description}}</p>
			<div class="center-container">
				<button class="button lg">{{main/bundle-button}}</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}
