{% extends "templates/default-layout.html" %}

{% block body %}
<div class="page-container">
	<div class="header-content">
		<h4>{{main/privacy-policy-heading}}</h4>
	</div>
	<div class="policy-content justify-text-content">
		<h6>{{main/introduction-heading}}</h6>
		<p>{{main/introduction-description}}</p>

		<h6>{{main/information-collection-heading}}</h6>
		<p>{{main/information-collection-description}}</p>
		<ul>
			<li>{{main/information-collection/files-and-data|safe}}</li>
			<li>{{main/information-collection/log-files|safe}}</li>
		</ul>

		<h6>{{main/use-of-information-heading}}</h6>
		<p>{{main/use-of-information-description}}</p>
		<ul>
			<li>{{main/use-of-information/providing-services|safe}}</li>
			<li>{{main/use-of-information/improving-service|safe}}</li>
			<li>{{main/use-of-information/user-communication|safe}}</li>
		</ul>

		<h6>{{main/data-security-heading}}</h6>
		<p>{{main/data-security-description}}</p>

		<h6>{{main/file-deletion-heading}}</h6>
		<p>{{main/file-deletion-description}}</p>

		<h6>{{main/disclosure-to-third-parties-title}}</h6>
		<p>{{main/disclosure-to-third-parties-description}}</p>

		<h6>{{main/changes-to-privacy-policy-title}}</h6>
		<p>{{main/changes-to-privacy-policy-description}}</p>
	</div>
</div>
{% endblock %}
