{% extends "templates/default-layout.html" %}

{% block body %}
<div class="page-container">
	<div class="header-content">
		<h4>Privacy Policy</h4>
	</div>
	<div class="policy-content justify-text-content">
		<h6>Introduction</h6>
		<p>We value your privacy and are committed to protecting your personal data. This Privacy Policy outlines how we collect, use, and safeguard information obtained from users of our file-sharing service for programmers. Please read this policy carefully to understand our views and practices regarding your information.</p>

		<h6>Information Collection</h6>
		<p>When using our service, we may collect the following information:</p>
		<ul>
			<li><strong>Files and Data:</strong> You upload files through our API, and these files may contain personal data. We do not control the content of uploaded files and are not responsible for their contents.</li>
			<li><strong>Log Files:</strong> We may collect information about your device and usage of the service, including IP address, browser type, access time, and the pages you visit.</li>
		</ul>

		<h6>Use of Information</h6>
		<p>The information we collect may be used for the following purposes:</p>
		<ul>
			<li><strong>Providing Services:</strong> We use your data to process requests for file uploads and downloads.</li>
			<li><strong>Improving the Service:</strong> By analyzing usage data, we can enhance the functionality and user experience of our service.</li>
			<li><strong>User Communication:</strong> We may use your contact information to reach out to you regarding issues related to your use of the service.</li>
		</ul>

		<h6>Data Security</h6>
		<p>Currently, our service does not provide sufficient security measures to protect your files. Please exercise caution when uploading sensitive information. We recommend avoiding the upload of personal data or files containing confidential information.</p>

		<h6>File Deletion</h6>
		<p>Files uploaded to our service will be automatically deleted after a certain period. Please take this into consideration when using our service and do not store important data on our file-sharing platform.</p>

		<h6>Disclosure to Third Parties</h6>
		<p>We do not share your information with third parties without your consent, except as required by law or to protect our rights.</p>

		<h6>Changes to the Privacy Policy</h6>
		<p>We may update this Privacy Policy from time to time. Any changes will be posted on this page with an indication of the date of the last update. We recommend periodically reviewing this page for any changes.</p>
	</div>
</div>
{% endblock %}
